@version 1;

/* Global text */
section field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"]) {
	color: #111111;
}

/* Global text: combined text host */
section combined-text {
	color: #111111;
}

/* Global text: Scizor Bold final color */
resume[template="scizor"] section:not([type="awards"]):not([type="experience"]):not([type="education"]):not([type="projects"]):not([type="certifications"]):not([type="skills"]) field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"])[role~="primary-text"][name="language"],
resume[template="scizor"] section:not([type="awards"]):not([type="experience"]):not([type="education"]):not([type="projects"]):not([type="certifications"]):not([type="skills"]) field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"])[role~="primary-text"][name="network"],
resume[template="scizor"] section:not([type="awards"]):not([type="experience"]):not([type="education"]):not([type="projects"]):not([type="certifications"]):not([type="skills"]) field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"])[role~="primary-text"][name="organization"],
resume[template="scizor"] section:not([type="awards"]):not([type="experience"]):not([type="education"]):not([type="projects"]):not([type="certifications"]):not([type="skills"]) field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"])[role~="primary-text"][name="title"] {
	color: #000000;
}

/* Experience text */
section[type="experience"] field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"]) {
	color: #222222;
}

/* Experience text: combined text host */
section[type="experience"] combined-text {
	color: #222222;
}

/* One section */
section[id="experience"] field:not([name="content"]):not([name="description"]):not([name="recipient"]):not([name="keywords"]) {
	color: #333333;
}

/* One section: combined text host */
section[id="experience"] combined-text {
	color: #333333;
}
